<footer class="footer">
  <div class="container">
    <p class="text-muted">Code licensed <a href="https://opensource.org/licenses/MIT">MIT</a>.</p> <p class="smallprint"><strong><em>By using this application you acknowledge that you do so as-is and without any warranties what so ever and accept the use of cookies to maintain session information.</em></strong></p>
  </div>
</footer>