<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">- GitInfo -</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="./">Home</a>
        </li>
        <!-- For each link item in the navLinks array, create a list item with a link to the href and the text of the link -->
        <% navLinks.forEach(function(link) { %>
          <li class="nav-item">
            <a class="nav-link" href="<%= link.href %>"><%= link.text %></a>
          </li>
        <% }); %>
      </ul>
    </div>
  </nav>
</header>