<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      Just In time!
    </h1>
    <p>
      This is an example of an Express website handling realtime data using websocket.
    </p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>
        WebSockets
      </h2>
      <p>
        WebSockets are a communication protocol used to establish a two-way, real-time communication channel between a client and a server over a single TCP connection. Unlike HTTP, which is a request-response protocol, WebSockets enable ongoing, bidirectional communication between the two endpoints, allowing the server to push data to the client without the client having to continuously make requests.
      </p>
    </div>
    <div class="col-md-3">
      <h2>
        PRG
      </h2>
      <p>
        The Post-Redirect-Get (PRG) is a design pattern useful in preventing the user from accidentally resubmitting the same form data by clicking the back button or refreshing the page, which could result in duplicate form submissions and unwanted side effects. By redirecting the user to a new URL after processing the form data, the server ensures that a GET request is sent instead of a POST request when the user navigates back to the previous page.
      </p>
    </div>
    <div class="col-md-3">
      <h2>
        Rate Limit
      </h2>
      <p>
        Rate limiting is a technique used to control the rate at which requests or events are processed or delivered in a system, in order to prevent overload, improve reliability, and ensure fair resource allocation. It involves setting limits on the number of requests or events that can be processed within a given time period, and rejecting any requests or events that exceed that limit.
      </p>
    </div>
    <div class="col-md-3">
      <h2>
        Real-time
      </h2>
      <p>
        A real-time application is a software application that processes and delivers information or data to users or systems in near real-time or with minimal delay. This means that the application processes and responds to input or events quickly enough to provide a responsive and interactive user experience.
      </p>
    </div>
  </div>
  <hr />
</div>
