<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">
      - GitLab Info -
    </h1>
    <p>
      This is an demonstration of using OAuth 2.0 with GitLab as the provider.
    </p>
    <hr />
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h2>
        Login
      </h2>
      <p>
        You do not have an active session. Press the login button in the navigation bar to start the process of authenticating with GitLab.
      </p>
      <p>
        Once authenticated, you will be redirected back to this page and will be able to see your user information, as well as activities and Groups you are a member of becoming available in the navigation bar.
      </p>
    </div>
  </div>
  <hr />
</div>